<div class="container mt-4">

    <!--show errormsg -->
    <div *ngIf="errormsg" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ errormsg }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!--show errormsg -->
    <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ successmsg }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form [formGroup]="userForm">
        <div class="col-lg-4 mt-2">
            <input [(ngModel)]="author.nom_autor" type="text" class="form-control" formControlName="nom_autor" placeholder="Enter Name">
        </div>
        <div class="col-lg-4 mt-2">
            <input [(ngModel)]="author.ape_autor" type="text" class="form-control" formControlName="ape_autor" placeholder="Enter Last name">
        </div>
        <div class="col-lg-4 mt-2">
            <input [(ngModel)]="author.hijos_autor" type="text" class="form-control" formControlName="hijos_autor" placeholder="Enter Sons">
        </div>
        <div class="col-lg-4 mt-2" *ngIf="!getparamid" (click)="userSubmit()">
            <button class="btn btn-primary btn-sm">Create</button>
        </div>

        <div class="col-lg-4 mt-2" *ngIf="getparamid" (click)="userUpdate()">
            <button class="btn btn-dark btn-sm">Update</button>
        </div>

    </form>
</div>
